src/main/resources/META-INF/lqmg-2.0.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!--

    This file is part of Everit - Liquibase-QueryDSL Model Generator.

    Everit - Liquibase-QueryDSL Model Generator is free software: you can redistribute it and/or modify
    it under the terms of the GNU Lesser General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Everit - Liquibase-QueryDSL Model Generator is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Lesser General Public License for more details.

    You should have received a copy of the GNU Lesser General Public License
    along with Everit - Liquibase-QueryDSL Model Generator.  If not, see <http://www.gnu.org/licenses/>.

-->
<xsd:schema targetNamespace="http://everit.org/lqmg" elementFormDefault="qualified" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://everit.org/lqmg">

    <xsd:element name="lqmg" type="tns:LQMGType"></xsd:element>

    <xsd:complexType name="LQMGType">
      <xsd:sequence>
        <xsd:element name="entity" type="tns:LQMGEntityType" minOccurs="0" maxOccurs="unbounded"></xsd:element>
      </xsd:sequence>
      <xsd:attribute name="packageName" type="xsd:string" use="optional">
        <xsd:annotation>
          <xsd:documentation>Default name of the java package for the entities defined in this configuration file.</xsd:documentation>
        </xsd:annotation></xsd:attribute>
      <xsd:attribute name="schemaName" type="xsd:string" use="optional">
        <xsd:annotation>
          <xsd:documentation>Default name of the schema where the entities (that are defined in this configuration) are searched.</xsd:documentation>
        </xsd:annotation></xsd:attribute>
    </xsd:complexType>

    <xsd:complexType name="LQMGEntityType">
      <xsd:attribute name="schemaName" type="xsd:string" use="optional">
        <xsd:annotation>
          <xsd:documentation>Name of the schema of the entity. If not defined, the rule will be applied to entities in any schema with the specified name.</xsd:documentation>
        </xsd:annotation></xsd:attribute>
      <xsd:attribute name="entityName" type="xsd:string" use="required">
        <xsd:annotation>
          <xsd:documentation>Name of the entity (table / view).</xsd:documentation>
        </xsd:annotation></xsd:attribute>
      <xsd:attribute name="packageName" type="xsd:string" use="optional">
        <xsd:annotation>
          <xsd:documentation>Name of the java package where to the class should be genereted.</xsd:documentation>
        </xsd:annotation></xsd:attribute>
      <xsd:attribute name="className" type="xsd:string" use="optional">
        <xsd:annotation>
          <xsd:documentation>Name of the class that should be generated from the entity. If not defined, the default name will be used.</xsd:documentation>
        </xsd:annotation></xsd:attribute>
      <xsd:attribute name="putSchemaIntoClass" type="xsd:boolean" use="optional" default="false">
        <xsd:annotation>
          <xsd:documentation>Whether to put the name of the schema into the constructor of the metadata class or not.</xsd:documentation>
        </xsd:annotation></xsd:attribute>
      <xsd:attribute name="generate" type="xsd:boolean" use="optional" default="true">
        <xsd:annotation>
          <xsd:documentation>Whether to generate metadata class for this entity or not.</xsd:documentation>
        </xsd:annotation></xsd:attribute>
    </xsd:complexType>
</xsd:schema>